{%macro displayNewsSources(sources_list)%}

{%for source in sources_list%}
<div id="source-body"> 
  <div class="col-md-4">
    <div class="card-body jumbotron"> 
      <div class="card-header"><h4><strong>{{source.id}}</strong></h4></div>
      <hr>
      <p class="card-text">{{source.category}}</p>
      <p class="card-text">{{source.description}}</p>
      <a href= "{{ source.url }}" ><button type="button" class="btn btn-light btn-lg"> Visit Website</button></a>
      <a href="/source/{{source.id}}"><button type="button" class="btn btn-outline-primary btn-lg">  Explore News Articles</button></a>
      </div>
    </div>
  </div>
{%endfor%}
{%endmacro%}

{% macro displayNewsArticle(article_list)%}
{% for article in article_list%}
  <div class="card">
    <div class="card-body text-center ">
      <div class="col-md-6">
      <div class="jumbotron">
      <img src={{article.urlToImage}} class="img-responsive">
      <h5 class="card-text"> {{article.title}}</h5>
      <h6 class="card-text"> {{article.description}}</h6>
      <p class="card-text"><strong> Written by:</strong>  {{article.author}}</p>
      <p class="card-text"><strong>Published on:</strong> {{article.publishedAt}}</p>
      
      <a href={{article.url}}><button type="button" class="btn btn-outline-primary btn-lg"> Read more </button></a>
    </div>
  </div>
</div>
</div>


{%endfor%}
{%endmacro%}